@use 'base/variables' as v;
@use 'base/mixins' as m;

.verEliminar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    text-align: center;
    flex-grow:1;
}

.detalle{
    max-width: 8000px;
    padding: 2rem 2rem 2rem 2rem;
    @include m.shadow;
    background-color: v.$white;
    border-radius: 1rem;
    margin:  2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    @include m.tablet{
        font-size: 3rem;
        min-height: 30rem;
        flex: 1 1 20rem;
    }
    
    &--detalle{
        background-image: linear-gradient( to right, rgba(v.$black-color, 1), rgba(v.$black-color, 0.2)), image-set( url(../img/Detalle.avif) 1x, url(../img/Detalle.webp) 1x, url(../img/Detalle.jpeg) 1x);
    }
    
}





